{% extends 'base.html.twig' %}

{% block title %}Modifier l'étudiant {{ student.id }}{% endblock %}

{% block body %}
    {{ include('student/_form.html.twig', { 'label': 'Modifier' }) }}
    <a href="{{ path('students') }}" class="btn btn-primary">Revenir à la liste des étudiants</a>
{% endblock %}