{% extends 'base.html.twig' %}

{% block title %}Créer un étudiant{% endblock %}

{% block body %}
    {{ include('student/_form.html.twig', { 'label': 'Créer' }) }}
    <a href="{{ path('students') }}" class="btn btn-primary">Revenir à la liste des étudiants</a>
{% endblock %}