<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Acensi - {% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="flash-messages">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
